* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.section {
  height: 100vh;
}

#section1 {
  position: relative; /* Enable positioning for child elements */
  background-color: #425981;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Ensure animations don't spill out */
}

.welcome-text {
  width: 600px;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(135deg, #1b1f2a, #2e3440);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: pre-line;
}

.scroll-button {
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 30px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e3440;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #39424e;
  transform: translateY(-3px);
}

.fade-in {
  display: inline-flex;
  animation: fadeInMoveUp 1s ease-out forwards;
}

.circle:nth-child(1) {
  width: 100px;
  height: 100px;
  bottom: 10%;
  left: 15%;
  animation-delay: 4s;
  animation-duration: 50s;
}

.circle:nth-child(2) {
  width: 80px;
  height: 80px;
  top: 20%;
  right: 20%;
  animation-delay: 5s;
  animation-duration: 50s;
}

.circle:nth-child(3) {
  width: 150px;
  height: 150px;
  top: 40%;
  left: 20%;
  animation-delay: 6s;
  animation-duration: 50s;
}

.circle:nth-child(4) {
  width: 120px;
  height: 120px;
  bottom: 30%;
  right: 10%;
  animation-delay: 7s;
  animation-duration: 50s;
}

@keyframes smoothMovement {
  0% {
    transform: translate(0, 0) scale(1) rotate(60deg);
    opacity: 1;
  }
  20% {
    transform: translate(250px, -150px) scale(1.2) rotate(15deg);
    opacity: 0.8;
  }
  40% {
    transform: translate(150px, 200px) scale(0.4) rotate(-10deg);
    opacity: 0.6;
  }
  60% {
    transform: translate(-200px, 50px) scale(1.8) rotate(25deg);
    opacity: 0.7;
  }
  80% {
    transform: translate(50px, -100px) scale(0.6) rotate(-20deg);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0) scale(1.5) rotate(0deg);
    opacity: 1;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: smoothMovement ease-in-out infinite;
  will-change: transform, opacity;
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#section2 {
  background-color: #8338ec;
}

#section3 {
  background-color: #ff006e;
}

#section4 {
  background-color: #ffbe0b;
}
